<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-3 avatar">
            <figure>
                <img class="avatar" src="{{avatar}}" alt="{{name}}">
            </figure>
            <div class="d-flex justify-content-between">
                <a href="/perfil/editar/{{id}}" class="btn mybutton ">Editar Perfil</a>
                <a href="/perfil/eliminar/{{id}}" class="btn mybutton">Eliminar Perfil</a>
            </div>
        </div>
        <div class="col-6">
            <h2>{{name}}</h2>
            <p class="tips">Email</p>
            <p>{{email}}</p>
            <hr>
            <p class="tips">Sobre mi</p>
            <p>{{description}}</p>
        </div>
    </div>
</div>