<div class="container">
    <div class="row justify-content-center">
        <div class="col-3">
            <figure>
                <img src="{{avatar}}" alt="{{name}}">
            </figure>
        </div>
        <div class="col-6">
            <h2>{{name}}</h2>
            <p>{{email}}</p>
            <hr>
            <p>{{description}}</p>
        </div>
    </div>
</div>