<div class="container">
    <div class="row justify-content-around mt-5">
        <div class="col-4">
            <div>
                <figure class="d-flex justify-content-center">
                    <img class="avatar" src="{{avatar}}" alt="{{name}}">
                </figure>
                <div class="d-flex justify-content-around">
                    <a href="/perfil/editar/{{id}}" class="btn mybutton">Editar Perfil</a>
                    <button type="button" class="btn mybutton" data-bs-toggle="modal" data-bs-target="#delete">
                        Eliminar Perfil
                    </button>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="delete" tabindex="-1" aria-labelledby="deleteLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="deleteLabel">Quieres eliminar tu perfil?</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>¿Estás seguro de quieres abandonar nuestra comunidad?</p>
                            <p>Esta acción no se puede deshacer</p>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</a>
                            <a href="/perfil/eliminar/{{id}}" class="btn btn-primary">Eliminar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <h2>{{name}}</h2>
            <p class="tips">Email</p>
            <p>{{email}}</p>
            <hr>
            <p class="tips">Sobre mi</p>
            <p>{{description}}</p>
        </div>
    </div>
</div>