{{!-- <div class="container">
    <h1>Listado de reservas</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Fechas</th>
                <th scope="col">Nombre de cliente</th>
                <th scope="col">Telefono</th>
                <th scope="col">Tipo de mascota</th>
                <th scope="col">Información addicional</th>
                <th scope="col">Status</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            {{#each bookings}}
            <tr>
                <td>{{formatDate dateStart}} - {{formatDate dateFinish}}</td>
                <td>{{owner.name}}</td>
                <td>{{phone}}</td>
                <td>{{petType}} ({{petNumber}})</td>
                <td>{{bookingNotes}}</td>
                <td>{{status}}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">

                    </div>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div> --}}

<div class="container">

    <div class="bookings-container">
        <h1 class="mb-4 text-center ">Mis reservas</h1>
        <div class="row myrow text-center align-items-center">

            <div class="col-2 mycol">
                <h3>Fechas</h3>
            </div>
            <div class="col-2 mycol">
                <h3>Nombre de cliente</h3>
            </div>
            <div class="col-2 mycol">
                <h3>Teléfono</h3>
            </div>
            <div class="col-1 mycol">
                <h3>Mascota</h3>
            </div>
            <div class="col-2 mycol ">
                <h3>Información adicional</h3>
            </div>
            <div class="col-1 mycol">
                <h3>Status</h3>
            </div>
            <div class="col-2">
                <h3>Opciones</h3>
            </div>
        </div>
        {{#each bookings}}
        <div class="row text-center align-items-center">

            <div class="col-2 mycol pt-2">
                <p>{{formatDate dateStart}} - {{formatDate dateFinish}}</p>
            </div>
            <div class="col-2 mycol pt-2">
                <p>{{owner.name}}</p>
            </div>
            <div class="col-2 mycol pt-2">
                <p>{{phone}}</p>
            </div>
            <div class="col-1 mycol pt-2">
                <p>{{petType}}({{petNumber}})</p>
            </div>
            <div class="col-2 mycol pt-2">
                <p>{{bookingNotes}}</p>
            </div>
            <div class="col-1 mycol  pt-2">
                <p>{{status}}</p>

            </div>
            <div class="col-2">
                <a href="/perfil/reservas/cancel/{{id}}" class="btn btn-sm mybutton2">Cancelar</a>
                <a href="/perfil/reservas/accept/{{id}}" class="btn btn-sm mybutton">Aceptar</a>
            </div>

        </div>
        {{/each}}
    </div>
</div>