<div class="container">

    <div class="bookings-container">
        <h1 class="mb-4 text-center">Mis reservas</h1>
        <div class="row myrow text-center">

            <div class="col-2 mycol  ">
                <h3>Fechas</h3>
            </div>
            <div class="col-2 mycol ">
                <h3>Cuidador reservado</h3>
            </div>
            <div class="col-2 mycol ">
                <h3>Teléfono</h3>
            </div>
            <div class="col-2 mycol ">
                <h3>Tipo de mascota</h3>
            </div>
            <div class="col-2 mycol ">
                <h3>Información adicional</h3>
            </div>
            <div class="col-2  ">
                <h3>Status</h3>
            </div>
        </div>
        <div class="row text-center">
            {{#each bookings}}
            <div class="col-2 mycol pt-2">
                <p>{{formatDate dateStart}} - {{formatDate dateFinish}}</p>
            </div>
            <div class="col-2 mycol pt-2">
                <p>{{carer.name}}</p>
            </div>
            <div class="col-2 mycol pt-2">
                <p>{{phone}}</p>
            </div>
            <div class="col-2 mycol pt-2">
                <p>{{petType}}({{petNumber}})</p>
            </div>
            <div class="col-2 mycol pt-2">
                <p>{{bookingNotes}}</p>
            </div>
            <div class="col-2  pt-2">
                <p>{{status}}</p>
                {{/each}}
            </div>
        </div>
    </div>
</div>