<div class="container">
    <h1>Mis reservas</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Fechas</th>
                <th scope="col">Cuidador reservado</th>
                <th scope="col">Telefono</th>
                <th scope="col">Tipo de mascota</th>
                <th scope="col">Información addicional</th>
                <th scope="col">Status</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            {{#each bookings}}
            <tr>
                <td>{{formatDate dateStart}} - {{formatDate dateFinish}}</td>
                <td>{{carer.name}}</td>
                <td>{{phone}}</td>
                <td>{{petType}} ({{petNumber}})</td>
                <td>{{notes}}</td>
                <td>{{status}}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <a href="/perfil/reservas/editar/{{id}}">Editar reserva</a>
                        <form action="/perfil/reservas/eliminar/{{id}}" method="post">
                            <button type="submit">Eliminar reserva</button>
                        </form>
                    </div>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>