<div class="container details-carer">

    <div class="row">
        <div class=" colizq col-7 mr-3">


            <div class="row justify-content-between ">
                <div class="cont-avatar col-6 mt-4">
                    <img class="avatar mb-3" src="{{avatar}}" alt="">
                    <div class="description-cont">
                        <p><strong>Sobre mi:</strong> {{description}}</p>
                    </div>
                </div>
                <div class="col-6 mt-4">
                    <h1>Detalles de {{name}}</h1>
                    <p><strong>@</strong> {{username}}</p>
                    <p><strong>Nombre:</strong> {{name}}</p>
                    <p><strong>Email:</strong> {{email}}</p>

                    <h3>Localización</h3>
                    <figure id="carerDetailMap">
                    </figure>
                </div>
            </div>


        </div>
        <div class="col-4 ">

            <a href="/cuidadores/{{_id}}/reservar" class="btn btn-block btn-lg mybutton mb-2" style="padding:2.5% 40%;">
                Reseva </a>
            <div class="colder p-3">
                <h1>Comentarios</h1>
                <hr>
                <p>blabla</p>
                <a href="/cuidadores/{{_id}}/reservar" class="btn btn-md button-coment mybutton3 mb-2">
                    Crear Comentario </a>
            </div>

        </div>
    </div>
</div>
<input type="hidden" value="{{id}}" id="carerId">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/carerIndMap.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?callback=renderCarersMap&key=AIzaSyCVIi2FBEHjFi0klzM7Xj0HMR-mT4JZGq4"></script>