<div class="container">

    <div class="bookings-container">
        <h1 class="mb-4 text-center ">Mis reservas</h1>
        <div class="row myrow text-center align-items-center">

            <div class="col-3 mycol">
                <h3>Nombre</h3>
            </div>
            <div class="col-3 mycol">
                <h3>Email</h3>
            </div>
            <div class="col-3 mycol">
                <h3>Role</h3>
            </div>
            <div class="col-3">
                <h3>Opciones</h3>
            </div>
        </div>
        {{#each allUsers}}
        <div class="row text-center align-items-center">

            <div class="col-3 mycol pt-2">
                <p>{{name}}</p>
            </div>
            <div class="col-3 mycol pt-2">
                <p>{{email}}</p>
            </div>
            <div class="col-3 mycol pt-2">
                <p>{{role}}</p>
            </div>
            <div class="col-3 d-flex justify-content-around">
                <a href="/perfil/reservas/cancel/{{id}}" class="btn btn-sm mybutton2">Ver reservas</a>
                <a href="/perfil/editar/{{id}}" class="btn btn-sm mybutton">Editar</a>
                {{!-- <a href="/perfil/eliminar/{{id}}" class="btn btn-sm mybutton2">Eliminar</a> --}}
            </div>

        </div>
        {{/each}}
    </div>
</div>